{% load static %}
<link rel="stylesheet" href="{% static 'static/header.css' %}">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: white">CarOGraphy</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href={% url 'myapp:home' %}>Home</a></li>
                <li><a href={% url 'myapp:services' %}>Services</a></li>
                <li><a href={% url 'myapp:user_guide' %}>About</a></li>
                <li><a href={% url 'myapp:home' %}>Contact</a></li>
            </ul>
          <a href={% url 'myapp:profile' %}>  <img  class="avatar" src="{% static 'static/userlogin.png' %}" alt="Logo" />
          </a> </div>
    </nav>