{#{% extends 'myapp/base.html' %}#}
{##}
{#{% block title %}Landing{% endblock %}#}
{#{% load static %}#}
{#{% block additional_stylesheets %}#}
{#<link rel="stylesheet" href="{% static 'static/landing.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'static/header.css' %}">#}
{#{% endblock %}#}
{#{% block header %}#}
{#    <nav class="navbar navbar-fixed-top">#}
{#        <div class="container-fluid">#}
{#            <div class="navbar-header">#}
{#                <a class="navbar-brand" href="#" style="color: white">CarOGraphy</a>#}
{#            </div>#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="active"><a href="#">Home</a></li>#}
{#                <li><a href="#">Services</a></li>#}
{#                <li><a href="#">About</a></li>#}
{#                <li><a href="#">Contact</a></li>#}
{#            </ul>#}
{#            <a  class="btn btn-danger navbar-btn" href={% url 'myapp:garages' %}>Login</a>#}
{#            <a  class="btn btn-danger navbar-btn" href={% url 'myapp:garages' %}>Signup</a>#}
{#        </div>#}
{#    </nav>#}
{#{% endblock %}#}
{#{% block content %}#}
{##}
{#<div class="row" style="margin-top: 80px;margin-bottom: 20px">#}
{#        <div class="col-sm-4">#}
{#            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"#}
{#                class="img-thumbnail" alt="Cinque Terre">#}
{#        </div>#}
{#        <div class="col-sm-8">#}
{#            <div style="font-size: xx-large;">#}
{#                - Need Roadside Assistance?#}
{#            </div>#}
{#            <div style="font-size: large; margin-top: 10px">#}
{#                CarOGraphy offer comprehensive auto body repair services, from minor dents and dings to repairing your#}
{#                accident damage. Whether you've had a fender bender, tangled with Mother Nature or want to freshen up#}
{#                your car's look, you can relax, we'll take it from here!#}
{#                We not only pride ourselves in taking care of your car, but taking care of you. CarOGaphy offers the#}
{#                highest quality repairs and customer satisfaction in the auto body repair industry.#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row services">#}
{#        <div class="titles">#}
{#            Our Services#}
{#        </div>#}
{#        <div>#}
{#            <div class="row content">#}
{#               {% for service in services %}#}
{#                <div class="col-sm-4">#}
{#                    <div>#}
{#                        {% if service.image %}#}
{#            <img src="{{ service.image.url }}" alt="{{ service.title }}" style="max-width: 100%; height: auto;">#}
{#            {% endif %}#}
{##}
{#                    </div>#}
{#                    <h3>{{ service.title }}</h3>#}
{#                    <p>{{ service.description }}</p>#}
{#                </div>#}
{#                {% endfor %}#}
{#        </div>#}
{#    <div class="cntr">#}
{#           <a href="{% url 'myapp:services' %}" class="btn btn-danger btng" disabled>Book Services</a>#}
{##}
{#        </div>#}
{#    </div>#}
{#    <div class="row custreview">#}
{#        <div class="titlecr">#}
{#            Customer Review#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-sm-6 reviewcontent">“Quality maintained at every single visit! Their attention to details is#}
{#                impeccable, their cleaning products are top notch and their staff are the friendliest i have ever met#}
{#                Great service, great app.”#}
{#                <p>-xyz</p>#}
{#            </div>#}
{#            <div class="col-sm-6 reviewcontent">“Quality maintained at every single visit! Their attention to details is#}
{#                impeccable, their cleaning products are top notch and their staff are the friendliest i have ever met#}
{#                Great service, great app.”#}
{#                <p>-xyz</p>#}
{#            </div>#}
{#        </div>#}
{#    <div class="cntr">#}
{#            <a href="{% url 'myapp:garages' %}" class="btn btn-danger btng" disabled>See Other Reviews ❯</a>#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row garages">#}
{#        <div class="titles">#}
{#            Garages#}
{#        </div>#}
{#        <div class="row garagescontent">#}
{#            <div class="col-sm-4">#}
{#                <img#}
{#                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"#}
{#                    class="img-thumbnail" alt="Cinque Terre">#}
{##}
{#                <img class="img-thumbnail" src="{{ allgarages.image.url }}"#}
{#                     style="max-width: 100%; height: auto;"#}
{#                >#}
{##}
{#            </div>#}
{#            <div class="col-sm-8">#}
{#                <div class="row d-flex align-items-center justify-content-center">#}
{#                    <div class="col-sm-5">#}
{#                        <h3 style="font-weight: bold;padding-bottom: 10px" >{{allgarages.name}}</h3>#}
{#                        <p>{{allgarages.address}}</p>#}
{#                        <p>Windsor, ON K6A 2J3</p>#}
{#                        <p>{{allgarages.contact_number}}</p>#}
{#                    </div>#}
{#                    <div class="col-sm-2 align-self-center">location</div>#}
{#                    <div class="col-sm-5 text-center">#}
{#                    <span class="fa fa-star checked" style="color: orange"></span>#}
{#                    <span class="fa fa-star checked" style="color: orange"></span>#}
{#                    <span class="fa fa-star checked" style="color: orange"></span>#}
{#                    <span class="fa fa-star" style="color: orange"></span>#}
{#                    <span class="fa fa-star" style="color: orange"></span>#}
{#                        <span> {{ allgarages.rating }}</span>#}
{#                        <p>#}
{#                        <a href="">see more details ❯</a>#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="cntr">#}
{#            <a href="{% url 'myapp:garages' %}" class="btn btn-danger btng" disabled>See All Garages ❯</a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}








{% extends 'myapp/base.html' %}

{% block title %}Landing{% endblock %}
{% load static %}
{% block additional_stylesheets %}
<link rel="stylesheet" href="{% static 'static/landing.css' %}">
    <link rel="stylesheet" href="{% static 'static/header.css' %}">
{% endblock %}
{% block header %}
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: white">CarOGraphy</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#mainhomepage" >Home</a></li>
                <li><a href="#allservices">Services</a></li>
                <li><a href={% url 'myapp:user_guide' %}>About</a></li>
                <li><a href={% url 'myapp:contact-us' %}>Contact</a></li>
            </ul>
            <a  class="btn btn-danger navbar-btn" href={% url 'myapp:login' %}>Login</a>
            <a  class="btn btn-danger navbar-btn" href={% url 'myapp:register' %}>Signup</a>
        </div>
    </nav>
{% endblock %}
{% block content %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{##}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Landing</title>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{##}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'static/landing.css' %}">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{##}
{#</head>#}
{#<body>#}
{##}
{#        {% include 'myapp/header1.html' %}#}

    <div class="row" style="margin-top: 80px;margin-bottom: 20px" id="mainhomepage">
        <div class="col-sm-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                class="img-thumbnail" alt="Cinque Terre">
        </div>
        <div class="col-sm-8">
            <div style="font-size: xx-large;">
                - Need Roadside Assistance?
            </div>
            <div style="font-size: large; margin-top: 10px">
                CarOGraphy offer comprehensive auto body repair services, from minor dents and dings to repairing your
                accident damage. Whether you've had a fender bender, tangled with Mother Nature or want to freshen up
                your car's look, you can relax, we'll take it from here!
                We not only pride ourselves in taking care of your car, but taking care of you. CarOGaphy offers the
                highest quality repairs and customer satisfaction in the auto body repair industry.
            </div>
        </div>
    </div>
    <div class="row services" id="allservices">
        <div class="titles">
            Our Services
        </div>
        <div>
            <div class="row content">
                {% for service in services|slice:":3" %}
                <div class="col-sm-4">
                    <div>
                        {% if service.image %}
            <img src="{{ service.image.url }}" alt="{{ service.title }}" style="width: 270px; height: 240px;">
            {% endif %}

                    </div>
                    <h3>{{ service.title }}</h3>
                    <p>{{ service.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    <div class="cntr">
        <a href="{% url 'myapp:login' %}" class="btn btn-danger btng" disabled>Book Services</a>
    </div>
    </div>



    <div class="row custreview">
        <div class="titlecr">
            Customer Review
        </div>
       <div class="row">

            <div class="col-sm-6 reviewcontent" style="width: 47%">
                <h3>Mr.Lube</h3>
               <p> “Quality maintained at every single visit! Their attention to details is
                impeccable, their cleaning products are top notch and their staff are the friendliest i have ever met
                Great service, great app.”</p>
                <p style="float: right">- xyz</p>
            </div>
            <div class="col-sm-6 reviewcontent" >
                <h3>Mr.Lube</h3>
               <p> “Quality maintained at every single visit! Their attention to details is
                impeccable, their cleaning products are top notch and their staff are the friendliest i have ever met
                Great service, great app.”</p>
                <p style="float: right">- xyz</p>
            </div>

        </div>
            <div class="cntr">
            <a href="{% url 'myapp:login' %}" class="btn btn-danger btng" disabled>See Other Reviews ❯</a>

        </div>
    </div>

    <div class="row garages">
        <div class="titles">
            Garages
        </div>
       <div class="row garagescontent">
            <div class="col-sm-4">
                <img
{#                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"#}
{#                    class="img-thumbnail" alt="Cinque Terre">#}
                {% if allgarages.image %}
                <img class="img-thumbnail" src="{{ allgarages.image.url }}"
                     style="max-width: 100%; height: 200px; width: 275px"
                >
                {% endif %}
            </div>
            <div class="col-sm-8">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-sm-5">
                        <h3 style="font-weight: bold;padding-bottom: 10px" >{{allgarages.name}}</h3>
                        <p><a href="https://maps.app.goo.gl/QN4DrmyG8VP2vy1w6">
                       {{allgarages.address}} </a></p>
                        <p>Windsor, ON</p>
                        <p>{{allgarages.contact_number}}</p>
                    </div>
{#                    <div class="col-sm-2 align-self-center"><a href="https://maps.app.goo.gl/QN4DrmyG8VP2vy1w6">location#}
{#                    </a></div>#}
                    <div class="col-sm-5 text-center">
{#                    <span class="fa fa-star checked" style="color: orange"></span>#}
{#                    <span class="fa fa-star checked" style="color: orange"></span>#}
{#                    <span class="fa fa-star checked" style="color: orange"></span>#}
{#                    <span class="fa fa-star" style="color: orange"></span>#}
{#                    <span class="fa fa-star" style="color: orange"></span>#}

                        {% for _ in stars %}
               <span class="fa fa-star checked" style="color: orange"></span>
            {% endfor %}

                        <span> {{ allgarages.rating }}</span>
                        <p>
                        <a >see more details ❯</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cntr">
            <a href="{% url 'myapp:login' %}" class="btn btn-danger btng" disabled>See All Garages ❯</a>
        </div>
    </div>

{% endblock %}