<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/landing.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

        {% include 'myapp/header.html' %}

    <div class="row" style="margin-top: 80px;margin-bottom: 20px">
        <div class="col-sm-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                class="img-thumbnail" alt="Cinque Terre">
        </div>
        <div class="col-sm-8">
            <div style="font-size: xx-large;">
                - Need Roadside Assistance?
            </div>
            <div style="font-size: large; margin-top: 10px">
                CarOGraphy offer comprehensive auto body repair services, from minor dents and dings to repairing your
                accident damage. Whether you've had a fender bender, tangled with Mother Nature or want to freshen up
                your car's look, you can relax, we'll take it from here!
                We not only pride ourselves in taking care of your car, but taking care of you. CarOGaphy offers the
                highest quality repairs and customer satisfaction in the auto body repair industry.
            </div>
        </div>
    </div>
    <div class="row services">
        <div class="titles">
            Our Services
        </div>
        <div>
            <div class="row content">
                <div class="col-sm-4">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                            class="img" alt="Cinque Terre">

                    </div>
                    <h3>Car Washing</h3>
                    <div>Unleash the ultimate shine for your vehicle</div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                            class="img" alt="Cinque Terre">

                    </div>
                    <h3>Car Washing</h3>
                    <div>Unleash the ultimate shine for your vehicle</div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                            class="img" alt="Cinque Terre">

                    </div>
                    <h3>Car Washing</h3>
                    <div>Unleash the ultimate shine for your vehicle</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row custreview">
        <div class="titlecr">
            Customer Review
        </div>
        <div class="row">
            <div class="col-sm-6 reviewcontent">“Quality maintained at every single visit! Their attention to details is
                impeccable, their cleaning products are top notch and their staff are the friendliest i have ever met
                Great service, great app.”
                <p>-xyz</p>
            </div>
            <div class="col-sm-6 reviewcontent">“Quality maintained at every single visit! Their attention to details is
                impeccable, their cleaning products are top notch and their staff are the friendliest i have ever met
                Great service, great app.”
                <p>-xyz</p>
            </div>
        </div>
    </div>

    <div class="row garages">
        <div class="titles">
            Garages
        </div>
        <div class="row garagescontent">
            <div class="col-sm-4"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                    class="img-thumbnail" alt="Cinque Terre">

            </div>
            <div class="col-sm-8">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-sm-5">
                        <h3 style="font-weight: bold;padding-bottom: 10px">Mr. Lube</h3>
                        <p>640 Main Street West</p>
                        <p>Windsor, ON K6A 2J3</p>
                        <p>(123)635-4587</p>
                    </div>
                    <div class="col-sm-2 align-self-center">location</div>
                    <div class="col-sm-5 text-center">
                        <p> closed</p>
                        <a href=''>see more details ❯</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cntr">
            <button class="btn btn-danger btng">See All Garages ❯</button>
        </div>
    </div>

{% include 'myapp/footer.html' %}
</body>

</html>