{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>CaroGraphy - Login</title>#}
{#    <link rel="stylesheet" href="{% static 'static/login.css' %}">#}
{#</head>#}
{#<body>#}
{#    <div class="container">#}
{#        <div class="image-container">#}
{#                <img src="{% static 'static/20945733.jpg' %}" alt="CaroGraphy logo" class="image">#}
{#            </div>#}
{#        <div class="form-container">#}
{#            <h1 class="title">CarOGraphy</h1>#}
{#            <p class="signup">Don't have an account?<a href="/register/"> Sign up</a></p>#}
{#            <form class="form" method="post" action="">#}
{#                {% csrf_token %}#}
{#                {{ form.email.label }}#}
{#                {{ form.email }}#}
{#                {{ form.password.label }}#}
{#                {{ form.password }}#}
{#                <button type="submit" class="button">Login</button>#}
{#                <a class="forgot-password" href="/forgot-password/">Forgot password?</a>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</body>#}
{#</html>#}


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include the bootstrap and custom CSS files -->
    <link rel="stylesheet" href="{% static 'static/bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'static/login.css' %}">
    <link rel="stylesheet" href="{% static 'static/forgot_password_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <img src="{% static 'static/20945733.jpg' %}" alt="Forgot Password" class="img-fluid">
            </div>
            <div class="form-container">
                <h1 class="title">CarOGraphy</h1>
                <label class="login mb-3 mt-3 form-label"> Already have an account? <a href="/register/">Sign Up</a></label>
                <form class="form" method="post" action="">
                    {% csrf_token %}
                    <label class="mb-2 mt-2 form-label">
                        {{ form.email.label }}
                        {{ form.email }}
                    </label>
                    <label class="mb-2 mt-2 form-label">
                        {{ form.password.label }}
                        {{ form.password }}
                    </label>
                    <label><a href="/password_reset/">Forgot Password ?</a></label>
                    <button type="submit" class="btn btn-primary mt-3">Login</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap & jQuery Scripts that I have commented out for now-->
    <!-- <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap5.js' %}"></script> -->
    <script>
        // JavaScript function to display the popup box
        function displayPopupBox() {
            var popupBox = document.getElementById('popup-box');
            popupBox.style.display = 'block';
        }

        // Call the displayPopupBox function if the login credentials are invalid
        {% if invalid_credentials %}
            displayPopupBox();
        {% endif %}
    </script>
</body>
</html>