{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaroGraphy - Register</title>
    <link rel="stylesheet" href="{% static 'static/login.css' %}"> <!-- Update static file path -->
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="{% static 'static/20945733.jpg' %}" alt="CaroGraphy logo" class="image"> <!-- Update static file path -->
        </div>
        <div class="form-container">
            <h1 class="title">CarOGraphy</h1>
            <p class="login">Already have an account? <a href="/login/">Login</a></p>
            <form class="form" method="post" action="">
                {% csrf_token %}
                {{ form.username.label }}
                {{ form.username }}
                {{ form.email.label }}
                {{ form.email }}
                {{ form.role}}
                {{ form.password1.label }}
                {{ form.password1 }}
                {{ form.password2.label }}
                {{ form.password2 }}

                <button type="submit" class="button">Register</button>
            </form>
        </div>
    </div>
{# <script>#}
{#        // Function to validate password and confirm password fields#}
{#        function validatePassword() {#}
{#            var password = document.getElementById("id_password").value;#}
{#            var confirmPassword = document.getElementById("id_confirm_password").value;#}
{#            if (password !== confirmPassword) {#}
{#                alert("Passwords do not match!");#}
{#                return false;#}
{#            }#}
{#            return true;#}
{#        }#}
{##}
{#        // Add event listener to form submission#}
{#        document.querySelector(".form").addEventListener("submit", function(event) {#}
{#            if (!validatePassword()) {#}
{#                event.preventDefault(); // Prevent form submission if passwords do not match#}
{#            }#}
{#        });#}
{#    </script>#}
</body>
</html>
