/* Body styles */
body {
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    height: 90vh; /* Ensure full viewport height */
}

/* Container styles */
.container {
    width: 75%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 10vh; /* Adjusted margin top */
}

/* Form and image container styles */
.form-container{flex: 1; /* Grow to fill remaining space equally */
    padding: 20px; /* Added padding */
}
.image-container {
    flex: 1; /* Grow to fill remaining space equally */
    margin: auto;
    display: block;
}

/* Image styles */
.image {
    max-width: 100%; /* Ensure image responsiveness */
    border-radius: 10px; /* Added border radius */
}

/* Form styles */
.form {
    display: flex;
    flex-direction: column;

}

/* Label styles */
label {
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;

}

/* Input styles */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure input width includes padding and border */
}

/* Button styles */
button {
    width: 100%;
    padding: 10px;
    background-color: #3C71AB;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2e68a3;
}

/* Forgot password and signup styles */
.forgot-password{
    margin-top: 10px;
    color: #333;
    font-weight: bold;
    text-align: right;
}
.signup {
    margin-top: 10px;
    text-align: center;
    color: #333;
    font-weight: bold; /* Added font-weight for emphasis */
}

/* Title styles */
.title {
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Adjusted width for smaller screens */
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .form-container,
    .image-container {
        width: 100%; /* Full width for smaller screens */
    }

    .image {
        max-width: 100%; /* Ensure image responsiveness */
        max-height: 300px; /* Limit image height for smaller screens */}
}
