body {
    display: flex;
    justify-content: center;
}

.container {
    width: 75%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    padding: 20px;
    width: 100%;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 90%;
    padding: 10px;
    background-color: #3C71AB;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2e68a3;
}

.title {
    margin-top: 3%;
    text-align: center;
}

/*.avatar-container{*/
/*  position: relative;*/
/*}*/

/*.avatar {*/
/*  display: block;*/
/*  margin: auto;*/
/*  width: 50%;*/
/*  height: 50%;*/
/*  border-radius: 50%;*/
/*}*/

/*.edit-icon {*/
/*  position: absolute;*/
/*  top: 80%;*/
/*  left: 67%;*/
/*  transform: translate(-50%, -50%);*/
/*  background-image: url('pen.png');*/
/*  width: 15%;*/
/*  height: 15%;*/
/*  background-size: contain;*/
/*  background-repeat: no-repeat;*/
/*  cursor: pointer;*/
/*  !*border-radius: 50%;*!*/
/*}*/
