<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            background-color: #3d71ab;
            border-radius: 0px;
            color: white;

        }

        ul li a {
            color: white;
        }

        button {
            float: right;
            margin-right: 10px;
        }

        .row {
            margin-right: 0px;
            margin-left: 0px;
        }

        .sc {
            background-color: #f7f7f7;
        }

        .rv {
            background-color: #fcfcfc;
            border-radius: 17px;
            width: 47%;
            margin: 20px;
            padding: 25px;
        }

        .avatar {
            vertical-align: middle;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            float: right;
            background-color: white;
            margin: 4px 10px 0px 0px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-fixed-top">
        <img class="container-fluid" />
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: white">CarOGraphy</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <img class="avatar" />
    </nav>
    <div class="row" style="margin-top: 80px;">
        <div class="col-sm-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                class="img-thumbnail" alt="Cinque Terre">
        </div>
        <div class="col-sm-8">
            <div style="font-size: xx-large;">
                - Need Roadside Assistance?
            </div>
            <div style="font-size: large; margin-top: 10px">
                CarOGraphy offer comprehensive auto body repair services, from minor dents and dings to repairing your
                accident damage. Whether you've had a fender bender, tangled with Mother Nature or want to freshen up
                your car's look, you can relax, we'll take it from here!
                We not only pride ourselves in taking care of your car, but taking care of you. CarOGaphy offers the
                highest quality repairs and customer satisfaction in the auto body repair industry.
            </div>
        </div>
    </div>
    <div class="row sc">
        <div>
            Our Services
        </div>
        <div>
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                            class="img" alt="Cinque Terre">

                    </div>
                    <div>Car Washing</div>
                    <div>Unleash the ultimate shine for your vehicle</div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                            class="img" alt="Cinque Terre">

                    </div>
                    <div>Car Washing</div>
                    <div>Unleash the ultimate shine for your vehicle</div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                            class="img" alt="Cinque Terre">

                    </div>
                    <div>Car Washing</div>
                    <div>Unleash the ultimate shine for your vehicle</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tc">
        <div>
            Customer Review
        </div>
        <div class="row">
            <div class="col-sm-6 rv">“Quality maintained at every single visit! Their attention to details is
                impeccable, their cleaning products are top notch and their staff are the friendliest i have ever met
                Great service, great app.”
                <p>-xyz</p>
            </div>
            <div class="col-sm-6 rv">“Quality maintained at every single visit! Their attention to details is
                impeccable, their cleaning products are top notch and their staff are the friendliest i have ever met
                Great service, great app.”
                <p>-xyz</p>
            </div>
        </div>
    </div>

    <div class="row fc">
        <div>
            Garages
        </div>
        <div class="row">
            <div class="col-sm-4"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSidYPqHQv4TMtSTsVVwmhUt0eKRYiPuTKeJQ&usqp=CAU"
                    class="img" alt="Cinque Terre">
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Mr. Lube</h3>
                        <p>640 Main Street West</p>
                        <p>Windsor, ON K6A 2J3</p>
                        <p>(123)635-4587</p>
                    </div>
                    <div class="col-sm-1">location</div>
                    <div class="col-sm-5">see more detailss</div>
                </div>
            </div>
        </div>
        <button>see all gareges</button>
    </div>
</body>

</html>