{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
{#    <link rel="stylesheet" href="{% static 'static/login.css' %}">#}
    <link rel="stylesheet" href="{% static 'static/profile.css' %}">
</head>
<body>
<div class="container">
    <h1 class="title">Update Profile</h1>
<form method="POST" class="form-container">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Profile</button>
    </form>
</div>
</body>
</html>